---
import Tag from "./Tag.astro";
import FormattedDate from "./FormattedDate.astro";
import Dots from "./Dots.svelte";
interface Props {
    title: string;
    pubDate: Date;
    tags?: string[];
    posted: boolean;
    cls?: string;
}

const { title, pubDate, tags, posted, cls } = Astro.props;
---

<Dots class="border border-neutral-300 bg-background">
    <h1 class="py-5 px-2 text-4xl text-center font-crimson italic">
        {title}

        <!--or, alternatively, a class-->
        {cls && <div class="text-sm content-center px-2">{cls}</div>}
    </h1>
    <div
        class="flex flex-row items-center w-full border-neutral-300 border-dashed border-t justify-center md:justify-start"
    >
        <div
            class="grow h-10 diagonal-lines border-r border-neutral-300 border-dashed hidden md:block"
        >
        </div>

        <!--list of tags-->
        {
            tags && (
                <div class="flex gap-2 flex-row flex-nowrap items-center px-4 h-10 border-r border-neutral-300 border-dashed overflow-y-scroll">
                    {tags.map((tag) => (
                        <Tag tag={tag} />
                    ))}
                </div>
            )
        }
        <div class="px-4 font-normal">
            <FormattedDate date={pubDate} posted={posted} />
        </div>
    </div>
</Dots>
