---
import Tag from "./Tag.astro";
import FormattedDate from "./FormattedDate.astro";
interface Props {
    title: string;
    pubDate: Date;
    tags?: string[];
    posted: boolean;
    cls?: string;
}

const { title, pubDate, tags, posted, cls } = Astro.props;
---

<div
    class="border border-default-outline dark:bg-alt-background mt-4 bg-background hard-shadow"
>
    <h1
        class="!m-0 p-2 border-b border-default-outline font-black text-3xl text-content"
    >
        {title}
    </h1>
    <div
        class="not-prose flex flex-row h-8 items-stretch divide-x divide-default-outline border-default-outline"
    >
        <div class="px-2 content-center">
            <FormattedDate date={pubDate} posted={posted} />
        </div>

        <!--list of tags-->
        {
            tags && (
                <div class="flex gap-2 flex-row flex-nowrap px-2 items-center overflow-x-auto">
                    {tags.map((tag) => (
                        <Tag tag={tag} />
                    ))}
                </div>
            )
        }

        <!--or, alternatively, a class-->
        {cls && <div class="text-sm content-center px-2">{cls}</div>}
    </div>
</div>
