---
/**
 * Clickable card providing an image, title, short description, and date of a
 * project from the `posts` content collection. This component is used on the
 * `projects` page (which is the current index of the site) to display
 * information about all projects in the `posts` content collection.
 */
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import FormattedDate from "@components/FormattedDate.astro";
import TagList from "@components/TagList.astro";
interface Props {
    post: CollectionEntry<"posts">;
}

const { post }: Props = Astro.props;
---

<a href={"/posts/" + post.id}>
    <div
        class="group flex flex-col sm:flex-row border border-line transition-all duration-150 hover:border-primary bg-secondary-bg overflow-x-hidden hard-shadow hover:-translate-y-1 hover:hard-shadow-hover"
    >
        <!--image thumbnail-->
        <div
            class="aspect-square w-full sm:w-28 overflow-hidden shrink-0 border-b sm:border-r sm:border-b-0 border-line group-hover:border-primary transition-all duration-150"
        >
            <Image
                src={post.data.image}
                alt={post.data.imageAlt}
                class="object-cover w-full h-full"
            />
        </div>

        <!--div containing title text, tagline and other stuff-->
        <div class="flex flex-col grow">
            <!--flex row for title, description, and date.-->
            <div class="flex flex-row w-full justify-between flex-wrap p-4">
                <div class="flex flex-col justify-start gap-1">
                    <h1
                        class="font-bold font-mono text-sm group-hover:text-primary text-ink transition-all duration-150"
                    >
                        {post.data.title}
                    </h1>
                    <div class="text-sm font-mono text-ink-secondary">
                        {post.data.description}
                    </div>
                </div>
                <FormattedDate
                    date={post.data.pubDate}
                    class="text-ink-tertiary ml-auto pt-2 sm:ml-0 sm:pt-0"
                />
            </div>

            <!--tags-->
            <div class="flex flex-row w-full items-stretch mt-auto">
                <TagList
                    tags={post.data.tags}
                    class="ml-auto border-t border-line"
                    link={false}
                    tagClass="border-l border-line"
                    textClass="block px-2 py-1 text-xs uppercase font-mono text-ink-tertiary whitespace-nowrap"
                />
            </div>
        </div>
    </div>
</a>
