---
/**
 * Clickable card providing an image, title, short description, and date of a
 * project from the `posts` content collection. This component is used on the
 * `projects` page (which is the current index of the site) to display
 * information about all projects in the `posts` content collection.
 */
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import FormattedDate from "@components/FormattedDate.astro";
interface Props {
    post: CollectionEntry<"posts">;
}

const { post } = Astro.props;
---

<a href={"/posts/" + post.id}>
    <div
        class="transition overflow-hidden ease-in-out w-full duration-300 group bg-background dark:bg-alt-background text-content flex flex-col h-full"
    >
        <Image src={post.data.image} alt={post.data.imageAlt} />
        <div
            class="p-3 flex flex-col grow border-t border-default-outline group-hover:bg-primary duration-300 ease-in-out transition-all"
        >
            <h1
                class="text-lg font-bold group-hover:text-white transition ease-in-out duration-300"
            >
                {post.data.title}
            </h1>
            <p
                class="group-hover:text-white transition ease-in-out duration-300 grow"
            >
                {post.data.description}
            </p>
            <div class="self-end pt-4 group-hover:text-white">
                <FormattedDate date={post.data.pubDate} />
            </div>
        </div>
    </div>
</a>
